[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = https://github.com/egecetin/libjpeg-turbo.git
[submodule "thirdparty/check"]
	path = thirdparty/check
	url = https://github.com/libcheck/check.git
