name: Doxygen GitHub Pages Deploy Action

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    permissions:
      contents: write  # for JamesIves/github-pages-deploy-action to push changes in repo
    runs-on: ubuntu-latest
    container: egecetinn/alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: "true"
      - name: Configure
        run: cmake . -DKALEIDOSCOPE_ENABLE_DOCS=1 -DKALEIDOSCOPE_ENABLE_CMD_TOOL=OFF
      - name: Generate Doxygen Documentation
        run: cmake --build . --target docs
      - name: Create .nojekyll (ensures pages with underscores work on gh pages)
        run: touch doc/html/.nojekyll
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          branch: gh-pages
          folder: doc/html
