name: "OS Builds"
on:
  push:
    branches:
    - 'master'
    tags:
      - '*'
  pull_request:

permissions:
  contents: read

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    container: egecetinn/alpine
    steps:
      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
      - name: Run clang-format
        run: clang-format include/*.hpp include/*.h include/**/*.h include/**/*.cuh src/*.c src/**/*.c src/**/*.cu --verbose --dry-run --Werror
      - name: Run cppcheck
        run: cppcheck -Iinclude/ src --verbose --enable=all --error-exitcode=1 --language=c --suppressions-list=cppcheckSuppressions.txt --inline-suppr --check-level=exhaustive
      - name: Configure for clang-tidy
        run: cmake -S . -B build

  os-build:
    runs-on: ${{ matrix.os-version }}
    permissions:
      contents: write
      attestations: write
      id-token: write
    strategy:
      matrix:
        include:
          - os-version: ubuntu-22.04
            venv-command: . .venv/bin/activate
          - os-version: windows-2022
          - os-version: macos-13
            venv-command: . .venv/bin/activate

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
      - name: Install Python Requirements
        run: |
          python3 -m venv .venv
          ${{ matrix.venv-command }}
          python3 -m pip install cython wheel pytest build
      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=Release -DKALEIDOSCOPE_ENABLE_TESTS=ON -DKALEIDOSCOPE_ENABLE_PACKAGE=ON -S . -B build
      - name: Build
        run: |
          ${{ matrix.venv-command }}
          cmake --build build --parallel --config Release
      - name: Install python package
        run: |
          ${{ matrix.venv-command }}
          python3 -m pip install --find-links=./build/python/dist/ LibKaleidoscope
      - name: Run Tests
        run: |
          ${{ matrix.venv-command }}
          ctest --output-on-failure --test-dir build/tests --build-config Release
          pytest python/python-tests.py
      - name: Package
        run: |
          ${{ matrix.venv-command }}
          cmake --build build --parallel --target package --config Release
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ matrix.os-version }}
          path: build/dist/*
      - name: Generate artifact attestation
        if: github.ref_type == 'tag'
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: "build/dist/*"
      - name: Upload binaries to release
        if: github.ref_type == 'tag'
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          draft: true
          allowUpdates: true
          updateOnlyUnreleased: true
          artifacts: "build/dist/*"
