name: Sonarcloud Analysis
on:
  schedule:
    - cron: '21 9 * * 4'
  push:
    branches:
    - 'master'
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    container: egecetinn/ubuntu2204
    env:
      BUILD_WRAPPER_OUT_DIR: build/sonar
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Prepare
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DKALEIDOSCOPE_ENABLE_TESTS=1 -DKALEIDOSCOPE_ENABLE_COVERAGE=1 -DKALEIDOSCOPE_ENABLE_CMD_TOOL=0 -S . -B build
      - name: Run build-wrapper
        run: build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} cmake --build build/ --config Debug --parallel --target coverage-xml
      - name: Run sonar-scanner
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            --define sonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json --define sonar.coverageReportPaths=./build/coverage-xml-sonar.xml
